@use 'globals/reset';
@use 'globals/typography';
@use 'globals/variables';
@use 'globals/mixins.scss' as *;

/// NAVBAR SECTION ///

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #f7f7ff;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem 0 4rem;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);

  .my-logo{
    width: 135px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      // margin: 0 5px;

      a {
        position: relative;
        display: inline-block;
        font-size: 1.1rem;
        padding: 0.5rem 0.7rem 0.5rem 0.7rem;
        color: #0d72a0;
        font-weight: 500;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2.5px;
          background-color: variables.$main-black-color;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover::before{
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }

  .menu-btn {
    i {
      color: #0d72a0;
      font-size: 2rem;
      cursor: pointer;
      display: none;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      ~ ul {
        left: 0;
      }
    }
  }

  @media (max-width: 1000px) {
    padding: 0 1.5rem 0 1.5rem;

    .menu-btn i {
      display: block;
    }

    input[type="checkbox"]:checked ~ ul {
      left: 0;
    }

    ul {
      z-index: 5;
      position: fixed;
      top: 80px;
      left: -100%;
      background-color: #f7f7ff;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s;

      li {
        width: 100%;
        margin: 40px 0;

        a {
          width: 100%;
          margin-left: 0;
          display: block;
          font-size: 26px;
          transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

          // &.active,
          // &:hover {
          //   background: none;
          //   color: red;
          // }
        }
      }
    }
  }

  @media (max-width: 920px) {
    nav {
      padding: 0 40px;
    }
  }
}

                      /// MAIN SECTION ///

/// FIRST SECTION /// 

.first-section{
  height: 90vh;
  background-image: url(/assets/images/black-men-standing-together-holding-laptop-discussing-business.webp);
  background-size:cover;
  background-position: center;
  position:relative;
  margin-bottom: 5rem;
  
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
  }
  
  .first-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    animation: fadeIn 2.5s;

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    .line{
      @include line;
      margin-left: 0;

      .block_1::after {
        @include block;
      }

      .red-text{
        @include red-text;
      }
    }

    h1{
      color: variables.$main-blue-color;
      font-size: 3.5rem;
      margin-bottom: 1rem;
      letter-spacing: 3px;
    }

    .hero-text{
      font-size: 1.1rem;
      font-weight: 500;
      color: whitesmoke;
      margin-bottom: 2.8rem;
      letter-spacing: 1px;
      padding-right: 7rem;
    }

    .btn-hero{
      color: variables.$main-blue-color;
      font-size: 1.2rem;
      font-weight: 600;
      border: 2px solid white;
      border-radius: .35rem;
      padding: .7rem 2.4rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

      &:hover{
        border: none;
        color: white;
        background-color: variables.$main-blue-color;
        border: 2px solid variables.$main-blue-color;
      }
    }
  }
}

@include mobile-view{
  .first-section{
    height: 85vh;

    .first-container{
      width: 100%;
      padding: 0 1rem;
      transform: translate(-50%, -50%);

      h1{
        font-size: 2rem;
        letter-spacing: 1px;
      }

      .hero-text{
        padding-right: 0;
      }

      .line{
        .block_1::after {
          @include block;
          width: 40px
        }
      }

      .btn-hero{
        padding: .5rem 2rem;
      }
    }
  }
}

@include tablet-view{
  .first-section{
    height: 85vh;

    .first-container{
      width: 100%;
      padding: 0 2rem;
      transform: translate(-50%, -50%);

      h1{
        font-size: 3rem;
        letter-spacing: 0;
      }

      .hero-text{
        padding-right: 4rem;
      }

      .line{
        .block_1::after {
          @include block;
          width: 60px
        }
      }
    }
  }
}

@include laptop-view{
  .first-section{
    height: 90vh;

    .first-container{
      width: 100%;
      padding: 0 2rem;
      transform: translate(-50%, -50%);

      h1{
        letter-spacing: 0;
      }

      .hero-text{
        font-size: 1.3rem;
      }
    }
  }
}

@include desktop-view{
  .first-section{
    height: 85vh;
    
    .first-container{
      width: 100%;
      padding: 0 3rem;
      transform: translate(-50%, -50%);

      h1{
        letter-spacing: 0;
      }

      .hero-text{
        padding-right: 14rem;
        line-height: 1.6;
      }
    }
  }
}

/// SECOND SECTION ///

.line-2{
  @include line;

  .block_2::after {
    @include block;
  }

  .red-text-2{
    @include red-text;
  }
}

.best-services{
  @include heading;
}

.second-section {
  // height: 100vh;
  width: 100%;
  @include center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#{#ffffff} 50%, #{variables.$main-blue-color} 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-position: 0 100%;

    h3{
      color: white;
    }

    p{
      color: white;
    }

    .icon-wrapper{
      background-color: white;
      color: variables.$main-blue-color;
    }
  }

  .icon-wrapper {
    background-color: variables.$main-blue-color;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    @include center;
    transition: 0.5s;

    &:hover {
      background-color: #ffffff;
      color: variables.$main-blue-color;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: variables.$main-blue-color;
    margin: 1em 0;

    &:hover {
      color: #ffffff;
    }
  }

  p {
    color: variables.$main-black-color;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;

    &:hover {
      color: #f0f0f0;
    }
  }
}

// Media Queries
@media screen and (min-width: 768px) {
  .second-section {
    padding: 0 2em;
  }

  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .second-section {
    padding: 1em 3em;
    margin-bottom: 3rem;
  }

  .column {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@include mobile-view{
  .line-2{
    margin-left: 1rem;

    .block_2::after {
      @include block;
      width: 40px;
    }
  }

  .best-services{
    font-size: 2rem;
    margin-left: 1rem;
  }

  .second-section{
    margin-bottom: 3rem;
  }
}

@include tablet-view{
  .line-2{
    margin-left: 2rem;

    .block_2::after {
      @include block;
      width: 60px;
    }
  }

  .best-services{
    font-size: 2.30rem;
    margin-left: 2rem;
  }

  .second-section{
    padding: 0 1rem;
    margin-bottom: 3rem;
  }
}

@include laptop-view{
  .line-2{
    margin-left: 2rem;
  }

  .best-services{
    font-size: 2.4rem;
    margin-left: 2rem;
  }

  .second-section{
    padding: 0 1rem;
    margin-bottom: 3rem;

    .row{
      .column{
        .card{
          p{
            font-size: 1.15rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

@include desktop-view{
  .line-2{
    margin-left: 3rem;
  }

  .best-services{
    font-size: 2.4rem;
    margin-left: 3rem;
  }

  .second-section{
    padding: 0 2rem;

    .row{
      .column{
        flex: 0 50%;
        max-width: 50%;

        .card{
          h3{
            font-size: 1.5rem;
          }
          p{
            font-size: 1.2rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

/// THIRD SECTION ///

.third-section{
  margin-bottom: 5rem;
  .line-3{
    @include line;
  
    .block_3::after {
      @include block;
    }
  
    .red-text-3{
      @include red-text;
    }
  }
  
  .why-us{
    @include heading;
  }
  
  .best-choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto 3rem auto;
    padding: 2rem 2.5rem;
    background-color: variables.$main-blue-color;
    border-radius: .6rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.20);
  
    .quotation{
      font-size: 6rem;
      position: absolute;
      top: 0;
      right: 2rem;
      z-index: -1;
      opacity: .2;
    }
  
    .best-text{
      color: white;
      font-weight: 500;
      margin-top: 1.2rem;
      line-height: 1.6;
    }
  }

  .third-container{  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    text-align: center;
    padding: 0 4rem;

    .col{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    .card-bis{
      background-color: white;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.20);
      border-radius: .6rem;
      flex: 1;
      padding: 1.5rem;
    }

    .card-bis-2{
      background-color: variables.$main-blue-color;

      .icon-wrapper-2{
        background-color: white;
        color: variables.$main-blue-color;
      }

      .body, .footer{
        color: white;
      }
    }

    .icon-wrapper{
      @include icon-wrapper;
    }

    .body{
      font-size: 20px;
      font-weight: 600;
      color: variables.$main-blue-color;
      margin: 1.5rem 0 1.5rem 0;
    }

    .footer{
      font-weight: 500;
      color: variables.$main-black-color;
    }
  }
}

@include mobile-view{
  .third-section{

    .line-3{
      margin-left: 1rem;
  
      .block_3::after {
        @include block;
        width: 40px;
      }
    }

    .why-us{
      font-size: 2rem;
      margin-left: 1rem;
    }

    .best-choice{
      width: 90%;
      padding: 1rem 1rem;
      margin: 0 1rem 3rem 1rem;
    }

    .third-container{
      padding: 0 1rem;
    }
  }
}

@include tablet-view{
  .third-section{

    .line-3{
      margin-left: 2rem;
  
      .block_3::after {
        @include block;
        width: 60px;
      }
    }

    .why-us{
      font-size: 2.30rem;
      margin-left: 2rem;
    }

    .best-choice{
      width: 91%;
      padding: 1rem 1rem;
      margin: 0 2rem 3rem 2rem;

      .best-text{
        margin-top: 0;
      }
    }

    .third-container{
      padding: 0 2rem;

      .col{
        flex: 40%;
      }
    }
  }
}

@include laptop-view{
  .third-section{

    .line-3{
      margin-left: 2rem;
    }

    .why-us{
      font-size: 2.4rem;
      margin-left: 2rem;
    }

    .best-choice{
      width: 92%;
      padding: 1.2rem 1.2rem;
      margin: 0 2rem 3rem 2rem;

      .best-text{
        font-size: 1.2rem;
        margin-top: 0;
      }
    }

    .third-container{
      padding: 0 2rem;

      .col{
        flex: 40%;

        .card-bis{
          .footer{
            font-size: 1.15rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

@include desktop-view{
  .third-section{

    .line-3{
      margin-left: 3rem;
    }

    .why-us{
      font-size: 2.4rem;
      margin-left: 3rem;
    }

    .best-choice{
      width: 91%;
      padding: 1.2rem 1.2rem;
      margin: 0 3rem 3rem 3rem;

      .best-text{
        font-size: 1.2rem;
        margin-top: 0;
      }
    }

    .third-container{
      padding: 0 3rem;

      .col{
        .card-bis{
          .footer{
            line-height: 1.5;
            font-size: 1.15rem;
          }
        }
      }
    }
  }
}

/// FOURTH SECTION ///

.fourth-section{
  margin-bottom: 10rem;
  
  .line-4{
    @include line;
  
    .block_4::after {
      @include block;
    }
  
    .red-text-4{
      @include red-text;
    }
  }

  .mission{
    @include heading;
  }

  .fourth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: variables.$main-red-color;
    padding: 2rem 4rem 1rem 4rem;
    margin: 0 auto 0 auto;

    .missions{
      margin: 0 auto 0 auto;
      .smiling-man{
        display: flex;
        width: 350px;
        margin: 0 auto 1rem auto;
      }

      .mission-text{
        font-weight: 500;
        color: white;
        line-height: 1.6;
        width: 600px;
        text-align: center;
      }
    }

    .achievements{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      gap: 30px;

      .cols{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        text-align: center;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.30);
        border-radius: .35rem;
        padding: 2rem;
        position: relative;
        bottom: -100px;

        .number{
          color: variables.$main-red-color;
          font-size: 3rem;
          font-weight: 700;
        }

        .text-num{
          color: variables.$main-black-color;
          font-size: 1.1rem;
          font-weight: 600;
        }
      }

      .cols-2{
        background-color: variables.$main-red-color;

        .number, .text-num{
          color: white;
        }
      }
    }
  }
}

@include mobile-view{
  .fourth-section{
    margin-bottom: 4.6rem;
    .line-4{
      margin-left: 1rem;
  
      .block_4::after {
        @include block;
        width: 40px;
      }
    }

    .mission{
      font-size: 2rem;
      margin-left: 1rem;
    }

    .fourth-container{
      padding: 2rem 1rem 2rem 1rem;

      .missions{
        width: 100%;

        .mission-text{
          width: 100%;
          margin-bottom: 2.5rem;
        }
      }

      .achievements{
        gap: 15px;

        .cols{
          position: static;
        }
      }
    }
  }
}

@include tablet-view{
  .fourth-section{

    .line-4{
      margin-left: 2rem;
  
      .block_4::after {
        @include block;
        width: 60px;
      }
    }

    .mission{
      font-size: 2.30rem;
      margin-left: 2rem;
    }

    .fourth-container{
      padding: 2rem 2rem 2rem 2rem;

      .missions{
        width: 100%;

        .mission-text{
          font-size: 1.2rem;
          width: 100%;
          margin-bottom: 0;
        }
      }

      .achievements{
        gap: 20px;
      }
    }
  }
}

@include laptop-view{
  .fourth-section{

    .line-4{
      margin-left: 2rem;
    }

    .mission{
      font-size: 2.4rem;
      margin-left: 2rem;
    }

    .fourth-container{
      padding: 2rem 2rem 2rem 2rem;

      .missions{
        width: 100%;

        .smiling-man{
          width: 400px;
        }

        .mission-text{
          font-size: 1.4rem;
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}

@include desktop-view{
  .fourth-section{

    .line-4{
      margin-left: 3rem;
    }

    .mission{
      font-size: 2.4rem;
      margin-left: 3rem;
    }

    .fourth-container{
      padding: 2rem 3rem 2rem 3rem;
    }
  }
}

/// FIFTH SECTION ///

.fifth-section{
  padding: 0 4rem;
  margin-bottom: 4rem;

  .line-5{
    @include line;
    margin-left: 0;
  
    .block_5::after {
      @include block;
    }
  
    .red-text-5{
      @include red-text;
    }
  }

  .confiance{
    @include heading;
    margin-left: 0;
  }
  
  .brand-logos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .brand-logo{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  
    img {
      max-width: 100%;
      max-height: 100%;
    }
  
    &:hover{
      cursor: pointer;
      filter: grayscale(0%);
    }
  }
}

@include mobile-view{
  .fifth-section{
    padding: 0 1rem;

    .line-5{
      margin-left: 0;
  
      .block_5::after {
        @include block;
        width: 40px;
      }
    }

    .confiance{
      font-size: 2rem;
      margin-bottom: 1.2rem;
    }
  }
}

@include tablet-view{
  .fifth-section{
    padding: 0 2rem;

    .line-5{
      margin-left: 0;
  
      .block_5::after {
        @include block;
        width: 60px;
      }
    }

    .confiance{
      font-size: 2.30rem;
      margin-bottom: 1rem;
    }
  }
}

@include laptop-view{
  .fifth-section{
    padding: 0 2rem;

    .confiance{
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
  }
}

@include desktop-view{
  .fifth-section{
    padding: 0 3rem;

    .confiance{
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
  }
}

/// SIXTH SECTION ///

.line-6{
  @include line;

  .block_6::after {
    @include block;
  }

  .red-text-6{
    @include red-text;
  }
}

.us{
  @include heading;
}

.sixth-section{
  background-image: url(/assets/images/black-power-team-work.webp);
  background-size:cover;
  background-position: center;
  height: 70vh;
  position: relative;
  margin-bottom: 5rem;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
  }

  .sixth-container{
    .about{
      @include center-absolute;
      text-align: center;

      h3{
        color: variables.$main-red-color;
        font-size: 4rem;
        margin-bottom: 1rem;
      }

      .text-last{
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
        color: white;
        margin-bottom: 1rem;
      }

      .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .icon{
          color: white;
          font-size: 1.8rem;
          margin: 1rem;

          &:hover{
            color: variables.$main-red-color;
          }
        }
      }
    }
  }
}

@include mobile-view{
  .line-6{
    margin-left: 1rem;

    .block_6::after {
      @include block;
      width: 40px;
    }
  }

  .us{
    font-size: 2rem;
    margin-left: 1rem;
  }

  .sixth-section{
    height: 85vh;

    .sixth-container{
      
      .about{
        width: 90%;

        h3{
          font-size: 3rem;
        }
      }
    }
  }
}

@include tablet-view{
  .line-6{
    margin-left: 2rem;

    .block_6::after {
      @include block;
      width: 60px;
    }
  }

  .us{
    font-size: 2.30rem;
    margin-left: 2rem;
  }

  .sixth-section{
    height: 95vh;

    .sixth-container{
      .about{
        width: 100%;
        padding: 0 2rem;

        .text-last{
          font-size: 1.3rem;
        }

        .icons{
          .icon{
            font-size: 2.3rem;
          }
        }
      }
    }
  }
}

@include laptop-view{
  .line-6{
    margin-left: 2rem;
  }

  .us{
    font-size: 2.4rem;
    margin-left: 2rem;
  }

  .sixth-section{
    height: 90vh;

    .sixth-container{
      .about{
        width: 100%;
        padding: 0 2rem;

        .text-last{
          font-size: 1.3rem;
          line-height: 1.6;
        }

        .icons{
          .icon{
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}

@include desktop-view{
  .line-6{
    margin-left: 3rem;
  }

  .us{
    font-size: 2.4rem;
    margin-left: 3rem;
  }

  .sixth-section{
    height: 75vh;

    .sixth-container{
      .about{
        width: 100%;
        padding: 0 3rem;

        .text-last{
          font-size: 1.3rem;
          line-height: 1.6;
        }

        .icons{
          .icon{
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}

                      /// FOOTER SECTION ///

footer {
  background-image: url(/assets/images/footer_bg.jpg);
  background-size:cover;
  background-position: center;
  height: 100%;
  padding: 0 4rem 2rem 4rem;

  .copyright{
    font-size: .8rem;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
  }
  
  .brand-section {
    text-align: left;
    padding: 2rem 0;
    
    .logo-footer{
      width: 180px;
    }
  }

  .footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 30px;
    color: #fff;

    .footer-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: left;

      .map{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .icon-footer{
          color: variables.$main-red-color;
          font-size: 1rem;
          margin-right: .5rem;
        }

        span{
          font-size: .850rem;
          font-weight: 500;
        }
      }

      h3 {
        color: variables.$main-red-color;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@include mobile-view{
  footer{
    padding: 0 1.5rem 2rem 1.5rem;

    .copyright{
      justify-content: flex-start;
      font-size: .7rem;
    }
  }
}

@include tablet-view{
  footer{
    padding: 0 2rem 2rem 2rem;
  }
}

@include laptop-view{
  footer{
    padding: 0 2rem 2rem 2rem;

    .footer-columns{
      .footer-column{
        .map{
          span{
            font-size: .99rem;
          }
        }
      }
    }
  }
}